    <footer>
        <div class="container">
            <div class="footerWrapper row mt-5 mb-5">
                <div class="footer1 col-12 col-md-6 col-lg-3 ">
                    <div class="m-1">
                        <h1>Billal Hossain</h1>
                        <p>Build this website to practice full stack development</p>
                    </div>
                </div>
                <div class="footer2 col-12 col-md-6 col-lg-3 ">
                    <div class="m-1">
                        <h1>Services</h1>
                        <h6>Front End Development</h6>
                        <h6>Back End Development</h6>
                        <h6>Express js </h6>
                        <h6>IOT</h6>
                        <h6>Server Management</h6>
                    </div>
                </div>
                <div class="footer3 col-12 col-md-6 col-lg-3 ">
                    <div class="m-1">
                        <h1>Services</h1>
                        <h6>Front End Development</h6>
                        <h6>Back End Development</h6>
                        <h6>Express js </h6>
                        <h6>IOT</h6>
                        <h6>Server Management</h6>
                    </div>
                </div>
                <div class="footer4 col-12 col-md-6 col-lg-3 ">
                    <div class="m-1">
                        <div class="subscribe">
                            <input type="text" placeholder="Enter your email">
                            <button>Subscribe</button>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem cupiditate voluptate quos?</p>
                        <div class="scocialAccounts">
                            <a href="https://www.facebook.com/8illal"></a>
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyRight">
            <h1>Copyright by Md Billal Hossain Joy</h1>
        </div>
    </footer>
