<!-- {{!-- ---------------------Website header------------ --}} -->
<header>
    <div class="container">
        <div class="headerWrapper d-flex justify-content-between align-items-center">
            <div class="webLogo"><span>Red</span> <span>Riven</span> <span>Army</span></div>
            <div class="navBer">
                <ul class="d-flex">
                    <li class=""><a class="" href="/">Home</a></li>
                    <li class=""><a class="" href="/about">About</a></li>
                    <li class=""><a class="" href="/projects">Projects</a></li>
                    <li class=""><a class="" href="/login">Login</a></li>
                    <li class=""><a class="" href="/register">Register</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

