header {
    background-color: rebeccapurple;
}

.webLogo {
    background-color: white;
    font-weight: bold;
    padding: 4px 19px;
    border-radius: 20px;
    font-size: 20px;

    span:first-child {
        color: red;
    }

    span:nth-child(2) {
        color: skyblue;
    }

    span:last-child {
        color: rgb(1, 59, 1);
    }
}

.navBer {
    ul {
        li {
            transition: .5s;
            padding: 15px 0;

            a {
                font-weight: 600;
                color: white;
                padding: 16px !important;
            }
        }

        li:hover {
            background-color: skyblue;

            a {
                color: white !important;
            }
        }

        li:nth-child(4) {
            background-color: skyblue;

            a {
                color: white !important;
                font-weight: bold;
                position: relative;
            }
        }

    }
}