.user{
    padding: 10px;
    >div{
        >div{
            width: 170px ;
            overflow: hidden;
            margin:auto;
            margin-bottom: 28px;
            img{
                width: 100%;
            }
        }
        padding: 20px;
        margin: 5px;
        border: 1px solid rgb(114, 114, 114);
        h1{
            font-size: 28px;
        }
    }
}